.jumbotron {
    background-color: rgba(255,255, 255, 0.7);
    height: inherit;
    text-align: center;
}

.lead {
    font-weight:430;
}

.display-4{
    font-weight: 1500;
}

.btn{
    margin: 2px;
}