.login-container{
    height: 680px;
    width: 300px;
    background-color: lightgrey;
    border-radius: 5px;
    margin: auto;
}

.inner-login-container{
    padding: 10px;
}

#login-header{
    text-align: center;
}

.container-fluid{
    text-align: center;
}

#submit-container{
    text-align: center;
}

#status-text{
    color:red;
}