<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4"><b>Order Successfully Placed!</b></h1>
      <button class="btn btn-primary" type="submit" routerLink="/menu" style="text-align: center;">Back to Menu</button>
    </div>
  </div>
