<br>
<div class="login-container">

    <div class="inner-login-container">

        <h3 id="login-header">Login</h3>

        <form id="login-form">

            <div class="form-group">
                <label for="inputusername"><b>Username</b></label>
                <input type="username" class="form-control" id="inputusername" aria-describedby="emailHelp"
                    name="username" placeholder="Username" [(ngModel)]='username'>
            </div>

            <div class="form-group">
                <label for="inputpassword"><b>Password</b></label>
                <input type="password" class="form-control" id="inputpassword" name="password" placeholder="Password" [(ngModel)]='password'>
            </div>

            

            <div id="submit-container">
                <p id='status-text'>{{status}}</p>
                <button type="submit" class="btn btn-primary" value="login" name="usersubmit"
                    id="submitbutton" (click)='postLogin()'>Login</button>
            </div>

            <div class="container-fluid">

                <a routerLink="/forgot-password">Forgot Password?</a>
                <br>
                <a routerLink="/register-account">Register New Account</a>

 
            </div>
        </form>
    </div>

</div>