<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4"><b>Your Cart</b></h1>
    <p class="lead">
    </p>
    <button *ngIf="username" class="btn btn-primary" type="submit" routerLink="/checkout" style="text-align: center;">Proceed To Checkout</button>
  </div>
</div>

<div class="container" style="text-align: center;">
  <div class="col d-flex justify-content-center"> 
  
  <div class="row" style="text-align: center;"> 
  <!-- <div style="text-align: center;"> -->


      <div class="card" *ngFor="let temp of cartItems">

          <img src={{temp.menuImg}} class="card-img-top" alt="{{temp.productName}}">

          <div class="card-body">

              <h5 class="card-title">{{temp.productName}}</h5>

              <p class="card-text">{{temp.description}}</p>

              <div class="quantity-holder"> 
                  
                  <span>
                      
                      <fa-icon [icon]="faMinus" class="minus-icon" (click)="temp.decrement()"></fa-icon>

                      <input type="text" class="quantity-text-input" [(ngModel)]="temp.quantity"/>
                      
                      <fa-icon [icon]="faPlus" class="plus-icon" (click)="temp.increment()"></fa-icon>
                      
                  </span>
              </div>
              <p>Number of servings</p>

              <div class="add-to-cart-holder"> 
                  <button type="button" class="btn btn-primary" (click)="updateInvoiceItem(temp.invoiceItemId, temp.quantity)">Update Quantity</button>
              </div>

              <div class="delete-holder"> 
                <button type="button" class="btn btn-danger" (click)="updateInvoiceItem(temp.invoiceItemId, 0)">Delete</button>
              </div>

          </div>
      </div> 
   </div> 
 </div> 

</div>

<!-- <form class="event-date">
    <label for="party">Choose your preferred event date:
      <input type="date" name="party" min="2021-01-01" max="2025-01-31">
    </label>
    <br>
    <label for="event-time">Choose an event start time: </label>
    <input id="event-time" type="time" name="event-time">
    <br>
    <label for="event-time">Choose an event end time: </label>
    <input id="event-time" type="time" name="event-time">
  </form> -->
 
  