.forgot-password-container {
    height:300px;
    width:300px;
    background-color:lightgrey;
    border-radius:5px;
    margin:auto;
}

.inner-forgot-password-container {
    padding: 10px;
} 

#forgot-password-header {
    text-align:center;
}

#forgot-password-instructions {
    text-align: center;
}