.salesButton {
    display: block;
    width: 100%;
    border: none;
    background-color: #4CAF50;
    color: white;
    text-align: left;
}
.po-img{
    width: 50%;
    margin: 0;
    padding: 0;
}
.po-row{
    border-style: solid;
    width: 100%;
}
.po-col1{
    display: subgrid;
    width: 20%;
}
.po-col2{
    display: subgrid;
    width: 50%;
}
.po-col3{
    display: subgrid;
    width: 30%;
}
.salesSpan1{
    padding-left:4em;
}
.salesSpan2{
    padding-left:8em;
}
#mainContainer {
    display: block;
    width: 60%;
    position:relative;
    left: 30%;
    margin-top: 15px;
    margin-bottom: 15px;
}
.invoiceTable {
    display: block;
    width: 100%;
    background-color: white;
}