<div id='mainContainer'>
  <div *ngFor='let salesOrder of salesOrders'>
    <button class="salesButton">
      <span class='salesSpan1'>Order Placed: {{salesOrder.orderDate}}</span>
      <span class='salesSpan2'>#{{salesOrder.orderId}}</span>
      <span class='salesSpan2'>${{salesOrder.totalPrice}}</span>
    </button>
    <table class="invoiceTable">
      <tbody>
        <tr class='po-row' 
        *ngFor='let invoiceItem of salesOrder.invoiceItems'>
          <td class='po-col1'>
            <img class = 'po-img' [src] = 'invoiceItem.inventoryImage'/>
          </td>
          <td class='po-col2'>{{invoiceItem.inventoryProductName}}</td>
          <td class='po-col3'>Qty: {{invoiceItem.invoiceQuantity}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

    